name: Build Asmaul Husna APK

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17"

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.19.0"
          channel: "stable"

      # মিসিং ফাইল ঠিক করার জন্য এবং প্রজেক্টের নাম সেট করার জন্য গুরুত্বপূর্ণ লাইন
      - name: Recreate Android Files
        run: flutter create --project-name asmaul_husna_app .

      - name: Install Dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release --no-tree-shake-icons

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: asmaul-husna-release-apk
          path: build/app/outputs/flutter-apk/app-release.apk
